.hero {
    padding: 200px 0;      
    text-align: center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-bottom: 30px;   
    margin-left: auto;
    margin-right: auto;
    width: 700px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--hiro-white-color);    
}

.main-button {
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;

    color: var(--hiro-white-color);    
    background-color: var(--accent-color);    
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.main-button:hover, .main-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);    

    padding: 40px;
    width: 528px;
    height: 581px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.btn-close{
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: 1px solid #AFB1B8;
    background-color: #fff;
    padding: 6px;
}

.icon-btn-close {       
    height: 18px;
    width: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .btn-close:hover & {
    fill: var(--accent-color);
}
}


.modal-form {   
    display: flex;
    flex-direction: column;
}

.modal-form__title{
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modal-form__box {
    display: flex;
    flex-direction: column;
    align-items: baseline;    
}

.modal-form__box:not(:last-child) {
    margin-bottom: 10px;
}

.label {
    margin-bottom: 4px;
}
.modal-form__label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
}

.modal-form__case {
    display: flex; 
    justify-content: center;    
    margin-bottom: 30px;
}

.modal-form__input {
    display: block;
    width: 100%;
    padding: 11px 30px;
    min-height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form__textarea {
    display: block;
    resize: none;    
    min-height: 120px;
    width: 100%;
    padding: 11px 12px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form__icon-box {
    position: relative;
    width: 100%;
}
.modal-form__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon-box:focus-within .modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-form__label_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form__label_checkbox::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;

    background-color: #fff;
    border: 2px solid #212121;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form__checkbox:checked + .modal-form__label_checkbox::before {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check-two.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
}

.modal-form__link {
    text-decoration: underline;    
    color: var(--accent-color);
    padding-left: 5px;
}